.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  margin: 0;
  margin-bottom: 20px;
  margin-left: 40px;
  font-size: 40px;
  color: #333333;
  font-weight: 400;
}

@media (max-width: 480px) {
  .title {
    margin-bottom: 10px;
    margin-left: 0;
    font-size: 30px;
  }
}
.header-link:hover {
  color: #CC9933;
}
.header-link:focus {
  color: #CC9933;
  padding: 5px;
  border: 1px solid #CC9933;
}
.header-link:active {
  color: #A47312;
}

.link {
  color: #CC9933;
}
.link:hover {
  color: #F0BF5F;
}
.link:hover svg path {
  fill: #F0BF5F;
}
.link:focus {
  color: #CC9933;
  padding: 5px;
  border: 1px solid #CC9933;
}
.link:focus svg path {
  fill: #CC9933;
}
.link:active {
  color: #A47312;
}
.link:active svg path {
  fill: #CC9933;
}

.btn {
  padding: 11px 19px;
  border-radius: 10px;
  display: block;
  background-color: #fff;
  color: #CC9933;
  border: 1px solid #CC9933;
  cursor: pointer;
  white-space: nowrap;
}
.btn:hover, .btn:focus, .btn:active {
  color: #fff;
}
.btn:hover, .btn:focus {
  background-color: #CC9933;
}
.btn:active {
  border: 1px solid #A47312;
  background-color: #A47312;
}

@font-face {
  font-family: "Muller";
  src: url("../../fonts/MullerLight.woff2") format("woff2"), url("../../fonts/MullerLight.woff") format("woff");
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../../fonts/MullerRegular.woff2") format("woff2"), url("../../fonts/MullerRegular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../../fonts/MullerMedium.woff2") format("woff2"), url("../../fonts/MullerMedium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Muller";
  src: url("../../fonts/MullerBold.woff2") format("woff2"), url("../../fonts/MullerBold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html {
  font-family: "Muller", sans-serif;
  font-weight: 400;
  line-height: 16px;
}

body {
  background-color: #f1f1f1;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
}

.header {
  margin-top: 30px;
  margin-bottom: 85px;
}
.header__info {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}
.header__phone {
  color: #666666;
  font-size: 20px;
  font-weight: 500;
  margin-left: 40px;
  margin-bottom: 2px;
}
.header__office {
  margin-bottom: 5px;
  display: flex;
  margin-left: auto;
}
.header__office span {
  margin-top: 4px;
  margin-left: 5px;
}
.header__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 45px;
  background-color: #fff;
  border-radius: 15px;
}
.header__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 642px;
}
.header__list-mobile {
  visibility: hidden;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #E9E9E9;
  width: 100%;
  height: 100vh;
  transition: 0.3s;
  transform: translate(0, -100%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}
.header__list-mobile li {
  margin-bottom: 35px;
}
.header__list-mobile li:last-child {
  margin-bottom: 0;
}
.header__list-mobile li:last-child {
  margin-bottom: 5px;
}
.header__list-mobile a {
  font-size: 30px;
  color: #CC9933;
}
.header__list-mobile.opened {
  visibility: visible;
  transform: translate(0);
}
.header__link {
  color: #666666;
}
.header__btns {
  display: flex;
  gap: 40px;
  align-items: center;
}
.header__mobile {
  z-index: 21;
  display: none;
  position: relative;
  top: 8px;
  right: 40px;
}
.header__mobile:before, .header__mobile:after {
  position: absolute;
  content: "";
  display: block;
  background-color: #CC9933;
  height: 2px;
  transition: 0.3s;
}
.header__mobile:before {
  width: 40px;
  left: -20px;
  top: 15px;
}
.header__mobile:after {
  width: 20px;
  left: 0;
  top: 25px;
}
.header__mobile.opened:before {
  transform: translate(10px, 7px) rotate(-45deg);
}
.header__mobile.opened:after {
  width: 40px;
  transform: translate(-10px, -2px) rotate(45deg);
}

@media (max-width: 1150px) {
  .header__menu {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .header__info {
    justify-content: space-between;
    align-items: flex-start;
  }
  .header__phone {
    display: none;
  }
  .header__office {
    display: none;
  }
  .header__menu {
    flex-direction: row;
    justify-content: center;
  }
  .header__list {
    display: none;
  }
  .header__list-mobile {
    visibility: visible;
  }
  .header__btns {
    gap: 60px;
  }
  .header__mobile {
    display: block;
  }
}
@media (max-width: 480px) {
  .header__img {
    max-width: 80%;
  }
  .header__list-mobile a {
    font-size: 26px;
  }
  .header__menu {
    padding: 10px 20px;
  }
  .header__btns {
    gap: 20px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .header__mobile {
    top: 0;
    right: 20px;
  }
}
.offers {
  margin-bottom: 84px;
}
.offers__title {
  margin-bottom: 30px;
}
.offers__cards {
  display: grid;
  grid-template-columns: repeat(573px, 2);
  grid-template-rows: repeat(258px, 2);
  gap: 24px;
}
.offers__card {
  color: #fff;
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) 0%, rgba(53, 65, 83, 0) 66.67%), url("../../img/offer-1.jpg") 0 0/cover no-repeat;
  border-radius: 15px;
  max-height: 258px;
  padding: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.offers__card:nth-child(2) {
  background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) 0%, rgba(53, 65, 83, 0) 66.67%), url("../../img/offer-2.jpg") no-repeat;
}
.offers__card:nth-child(3) {
  background: url("../../img/offer-3.jpg") no-repeat;
  grid-row: 1/3;
  grid-column: 2/3;
  max-height: 540px;
  justify-content: flex-end;
}
.offers__card:nth-child(3) .offers__card-title {
  font-size: 60px;
}
.offers__card:nth-child(3) .offers__card-price {
  font-size: 30px;
}
.offers__card:nth-child(3) .offers__card-btn:focus {
  border: none;
}
.offers__card-title {
  margin: 0;
  font-size: 40px;
  line-height: 100%;
  font-weight: 700;
  max-width: 420px;
  margin-bottom: 17px;
}
.offers__card-price {
  margin: 0;
  opacity: 0.8;
  font-size: 20px;
  margin-bottom: 50px;
}
.offers__card-btn {
  color: #F0BF5F;
  position: relative;
}
.offers__card-btn svg {
  position: absolute;
  margin-left: 7px;
}
.offers__card-btn:active {
  color: #fff;
}

@media (max-width: 820px) {
  .offers__cards {
    gap: 12px;
    grid-template-columns: 573px;
    grid-template-rows: repeat(258, 4);
  }
  .offers__card {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .offers__card:nth-child(2) {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .offers__card:nth-child(3) {
    grid-row: 3/5;
    grid-column: 1/2;
  }
  .offers__card:nth-child(3) .offers__card-title {
    font-size: 50px;
  }
  .offers__card:nth-child(3) .offers__card-price {
    font-size: 25px;
  }
  .offers__card-title {
    font-size: 30px;
  }
  .offers__card-price {
    font-size: 20px;
  }
}
@media (max-width: 610px) {
  .offers__cards {
    grid-template-columns: 380px;
  }
}
@media (max-width: 420px) {
  .offers__cards {
    grid-template-columns: 290px;
    grid-template-rows: repeat(258, 4);
  }
  .offers__card {
    grid-row: 1/2;
    grid-column: 1/2;
    padding: 20px;
  }
  .offers__card:nth-child(2) {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  .offers__card:nth-child(3) {
    grid-row: 3/5;
    grid-column: 1/2;
  }
  .offers__card:nth-child(3) .offers__card-title {
    font-size: 36px;
  }
  .offers__card:nth-child(3) .offers__card-price {
    font-size: 24px;
  }
  .offers__card-title {
    font-size: 24px;
  }
  .offers__card-price {
    font-size: 18px;
  }
}
.about {
  margin-bottom: 83px;
}
.about__title {
  margin-bottom: 31px;
}
.about__text {
  margin: 0;
  line-height: 200%;
  max-width: 888px;
}

@media (max-width: 480px) {
  .about__text {
    font-size: 14px;
  }
}
.services {
  margin-bottom: 82px;
}
.services__title {
  margin-bottom: 30px;
}
.services__cards {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
.services__card {
  max-width: 573px;
}
.services__card:nth-child(2) .services__img {
  background-image: url("../../img/services-2.jpg");
}
.services__card:nth-child(3) .services__img {
  background-image: url("../../img/services-3.jpg");
}
.services__card:nth-child(3) .services__card-description {
  margin-top: -2px;
}
.services__card:nth-child(4) .services__img {
  background-image: url("../../img/services-4.jpg");
}
.services__card:nth-child(4) .services__card-description {
  margin-top: -2px;
}
.services__img {
  border-radius: 15px 15px 0 0;
  background-image: url("../../img/services-1.jpg");
  height: 165px;
  width: 573px;
}
.services__card-text {
  border-radius: 0 0 15px 15px;
  padding: 28px 45px 35px;
  background-color: #fff;
}
.services__card-link {
  color: #CC9933;
  position: relative;
}
.services__card-link svg {
  position: absolute;
  top: -3px;
  right: -18px;
}
.services__card-link:hover {
  color: #F0BF5F;
}
.services__card-link:hover svg path {
  stroke: #F0BF5F;
}
.services__card-link:focus {
  color: #CC9933;
}
.services__card-link:focus svg path {
  stroke: #CC9933;
}
.services__card-link:active {
  color: #A47312;
}
.services__card-link:active svg path {
  stroke: #A47312;
}
.services__card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  margin: 0;
  display: inline-block;
}
.services__card-description {
  color: #000;
  margin: 0;
  line-height: 200%;
  max-width: 402px;
}

@media (max-width: 1200px) {
  .services__cards {
    max-width: 824px;
    margin: 0 auto;
  }
  .services__card {
    max-width: 400px;
  }
  .services__card-text {
    padding: 20px 30px 28px;
  }
  .services__img {
    width: 400px;
  }
}
@media (max-width: 860px) {
  .services__cards {
    max-width: 824px;
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .services__card {
    max-width: 290px;
  }
  .services__img {
    max-width: 290px;
  }
  .services__card-text {
    padding: 15px 25px 25px;
  }
  .services__card-title {
    font-size: 18px;
  }
}
.pros {
  margin-bottom: 82px;
}
.pros__title {
  margin-bottom: 30px;
}
.pros__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 22px;
}
.pros__card {
  max-width: 276px;
  padding: 40px 43px 32px 45px;
  background-color: #fff;
  border-radius: 15px;
}
.pros__text {
  margin: 0;
  margin-top: 7px;
  line-height: 200%;
  color: #000;
  max-width: 189px;
}

.placement__title {
  margin-bottom: 31px;
}
.placement__cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.placement__card {
  max-width: 374px;
  max-height: 440px;
}
.placement__card-inner {
  background-color: #fff;
  padding: 45px;
  padding-top: 31px;
  border-radius: 0 0 15px 15px;
}
.placement__features {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.placement__price span:first-child {
  color: #999999;
}
.placement__price strong {
  margin-right: 10px;
  color: #000;
  font-size: 20px;
  font-weight: 700;
}
.placement__stars {
  margin-top: -3px;
  display: flex;
  gap: 6px;
}
.placement__name {
  color: #000;
  margin-bottom: 16px;
}
.placement__location {
  color: #999999;
  margin-bottom: 20px;
}
.placement__card-link {
  color: #000;
  position: relative;
  display: block;
  top: 0;
  left: 0;
}
.placement__card-link svg {
  position: absolute;
  right: -20px;
  top: 15px;
}
.placement__card:last-child {
  position: relative;
}
.placement__card-link {
  position: absolute;
  left: 50px;
  top: 90%;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
.placement__card-link svg {
  position: absolute;
  top: -2px;
  right: -15px;
}

@media (max-width: 480px) {
  .placement__card, .placement__card:last-child {
    max-width: 290px;
  }
  .placement__card-link {
    left: 20px;
    top: 85%;
  }
}
.tour {
  margin-top: 60px;
}
.tour__inner {
  background-color: #E9E9E9;
  padding: 45px;
  border-radius: 15px;
}
.tour__title {
  margin-bottom: 30px;
  margin-left: -5px;
}
.tour__form {
  display: flex;
  padding: 32px 28px;
  background-color: #fff;
  border-radius: 15px;
}
.tour__item label {
  color: #000;
  font-size: 12px;
  line-height: normal;
}
.tour__item input, .tour__item select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
}
.tour__button {
  padding: 11px 29px;
}

@media (max-width: 1200px) {
  .tour__form {
    flex-direction: column;
    gap: 20px;
    max-width: 50%;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .tour__form {
    padding: 22px 18px;
    max-width: 100%;
  }
}
.footer {
  margin-top: 60px;
}
.footer__inner {
  border-radius: 15px;
  background-color: #333;
  padding: 45px;
}
.footer__box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer__left {
  color: #FFF;
  font-size: 16px;
  line-height: 190%;
  max-width: 302px;
  margin-right: 125px;
}
.footer__link-left {
  color: #C93;
  font-size: 16px;
  line-height: 150%;
}
.footer__address {
  color: #FFF;
  font-size: 16px;
  line-height: 190%;
}
.footer__phones {
  margin-bottom: 15px;
}
.footer__link {
  color: #C93;
  font-size: 16px;
  line-height: 150%;
}
.footer__right {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 992px) {
  .footer__inner {
    padding: 25px;
  }
  .footer__box {
    flex-direction: column;
  }
  .footer__left {
    max-width: 100%;
  }
  .footer__right {
    margin: 0;
    margin-top: 20px;
    flex-direction: row;
  }
}