@import "vars";

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.title{
	margin: 0;
	margin-bottom: 20px;
	margin-left: 40px;
	font-size: 40px;
	color: $title;
	font-weight: 400;
}

@media(max-width: 480px){
	.title{
		margin-bottom: 10px;
		margin-left: 20px;
	}
}

.header-link{
	&:hover{
		color: $accent;
	}
	&:focus{
		color: $accent;
		padding: 5px;
		border: 1px solid $accent;
	}
	&:active{
		color: #A47312;
	}
}

.link{
	color: $accent;
	&:hover{
		color: #F0BF5F;
		svg{
			path{
				fill: #F0BF5F;
			}
		}
	}
	&:focus{
		color: $accent;
		padding: 5px;
		border: 1px solid $accent;
		svg{
			path{
				fill: $accent;
			}
		}
	}
	&:active{
		color: #A47312;
		svg{
			path{
				fill: $accent;
			}
		}
	}
}

.btn{
	padding: 11px 19px;
	border-radius: 10px;
	display: block;
	background-color: $white;
	color: $accent;
	border: 1px solid $accent;
	cursor: pointer;
	white-space: nowrap;

	&:hover, &:focus, &:active{
		color: $white;
	}
	&:hover, &:focus{
		background-color: $accent;
	}
	&:active{
		border: 1px solid #A47312;
		background-color: #A47312;
	}
}